.button {
    color: $white;
    background-color: $lightPrimaryColor;
    padding: .5rem 1rem;
    font-size: 1.4rem;
    border: 2px solid $secondary;
    border-radius: 1rem;
    min-width: 7rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    transition: all .3s ease-in-out;


    &:hover {
        background-color: $primaryColor;
        color: $secondary;
        border: 2px solid $lightPrimaryColor;
        cursor: pointer;
        scale: 1.1;
    }
}