.button {
    font-family: $secondaryFont;
    color: $white;
    background-color: $primaryColor;
    padding: .5rem 1rem;
    font-size: 1.4rem;
    border: 2px solid $lightPrimaryColor;
    border-radius: 1rem;
    min-width: 7rem;
    text-decoration: none;
    transition: all .3s ease-in-out;


    &:hover {
        background-color: $primaryColor;
        color: $secondaryColor;
        border: 2px solid $secondaryColor;
        cursor: pointer;
        scale: 1.1;
    }
}