.form {
    text-align: center;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 2rem;
    border: 2px solid $lightPrimaryColor;
    box-shadow: 5px 7px 9px 2px $black;
    max-width: 60rem;
    background-color: $white;

    legend {
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 2rem;
        color: $lightPrimaryColor;
    }

    .container {
        .field {
            display: flex;
            padding: 0 2rem;
            margin-bottom: .5rem;
            font-size: 1.4rem;
            align-items: flex-start;
            align-items: center;
            gap: 0;

            label {
                font-weight: bold;
                font-size: 1rem;
                width: 7rem;
            }

            input {
                width: 60%;
                border-radius: 1rem;
                border: 1px solid $primaryColor;
                padding: .6rem;

                &::placeholder {
                    padding-left: .5rem;
                }
            }
        }
    }

    .submit {
        font-family: $secondaryFont;
        color: $white;
        background-color: $primaryColor;
        padding: .25rem 1.5rem;
        font-size: 1.3rem;
        border: 2px solid $lightPrimaryColor;
        border-radius: .25rem;
        min-width: 7rem;
        text-decoration: none;
        transition: all .3s ease-in-out;


        &:hover {
            background-color: $primaryColor;
            color: $secondaryColor;
            border: 2px solid $secondaryColor;
            cursor: pointer;
            scale: 1.1;
        }
    }
}