.radios {
    margin-bottom: 1rem;
    padding-left: 1rem;

    .radio {
        display: flex;
        gap: 1rem;
        align-items: center;
        margin-bottom: .5rem;

        label {
            min-width: 9.5rem;
        }
    }
}