.background {
    background-color: $lightPrimaryColor;
    padding: 2rem 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .headerTitle {
            margin: 0;
            width: 15rem;
            transition: all .3s ease-in-out;

            &:hover {
                scale: 1.1;
            }
        }

        .icons {
            display: flex;
            gap: 1rem;

            .icon {
                color: $white;
                font-size: 2.5rem;
                transition: all .3s ease-in-out;
                max-width: 24rem;

                &:hover {
                    cursor: pointer;
                    scale: 1.1;
                }
            }
        }

    }
}

@media(max-width: 668px) {
    .background {
        .container {
            flex-direction: column;
        }
    }
}