.background {
    background-color: $lightPrimaryColor;
    padding: 2rem 0;

    .container {
        max-width: 70vw;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .headerTitle {
            margin: 0;
            width: 15rem;
        }

        .headerIcon {
            color: $white;
            font-size: 2.5rem;
            transition: all .3s ease-in-out;

            &:hover {
                cursor: pointer;
                scale: 1.1;
            }
        }
    }
}