.background {
    background-color: $lightPrimaryColor;
    padding: 2rem 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .headerTitle {
            margin: 0;
            width: 15rem;
            transition: all .3s ease-in-out;

            &:hover {
                scale: 1.1;
            }
        }

        .icons {
            display: flex;
            gap: 1rem;

            .icon {
                color: $white;
                font-size: 2.5rem;
                transition: all .3s ease-in-out;
                max-width: 24rem;

                &:hover {
                    cursor: pointer;
                    scale: 1.1;
                }
            }
        }

    }
}

.dropdownMenu {
    background-color: $white;
    position: absolute;
    border: 2px solid $primaryColor;
    border-radius: 1rem;
    box-shadow: 9px 8px 20px 0px $black;
    z-index: 2;
    right: 0;
    opacity: 0;
    transform: translateY(-10px); // Mueve ligeramente el menú hacia arriba cuando está oculto
    transition: opacity 0.3s ease, transform 0.3s ease; // Transición suave

    &.open {
        opacity: 1;
        transform: translateY(0); // Devuelve el menú a su posición original al abrirlo
    }

    ul {
        list-style: none;
        padding: .4rem 0;

        li {
            padding: .5rem 1rem;
            transition: all .3s ease-in-out;

            &:hover {
                background-color: $primaryColor;
                border-radius: .15rem;

                .link {
                    color: $white;
                }
            }
        }

        .link {
            text-decoration: none;
            color: $black;
        }
    }
}


@media(max-width: 668px) {
    .background {
        .container {
            flex-direction: column;
        }
    }

    .dropdownMenu {
        left: 50%;
        right: auto;
        top: 1rem;

        ul {
            li {
                a {
                    font-size: 1.3rem;
                }
            }
        }
    }
}