.container {
    border: 1px solid $primaryColor;
    background-color: $white;
    padding: 0 1rem;
    border-radius: 1rem;

    .title {
        text-transform: uppercase;
        padding: .2rem 0;
    }

    .paragraphs {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 3rem;

        .paragraph {
            color: $black !important;

            strong {
                color: $black;
                font-size: 1.1rem;
            }
        }

        .image {
            height: 7rem;
            padding: .5rem 0;
        }

        button {
            border: none;
            padding-bottom: .25rem;
            background-color: transparent;
        }

        .icon {
            text-align: center;
            background-color: transparent;
            color: $red;
            font-size: 1.8rem;
            transition: all .3s ease-in-out;

            &:hover {
                color: $darkRed;
                scale: 1.1;
            }
        }
    }

}

@media(max-width: 992px) {
    .container {
        .paragraphs {
            display: flex;
        }
    }
}