.container {
    border: 1px solid $primaryColor;
    background-color: $white;
    padding: 0 1rem;
    border-radius: 1rem;
    margin: 0 auto;
    width: 80%;

    .title {
        text-transform: uppercase;
        padding: .2rem 0;
    }

    .product {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 3rem;

        .image {
            height: 7rem;
            padding: .5rem 0;
        }

        button {
            border: none;
            padding-bottom: .25rem;
            background-color: transparent;
        }

        .icon {
            text-align: center;
            background-color: transparent;
            color: $red;
            font-size: 1.8rem;
            transition: all .3s ease-in-out;

            &:hover {
                color: $darkRed;
                scale: 1.1;
            }
        }

        .information {
            width: 100%;

            .info,
            .dimensions {
                display: flex;
                gap: 2rem;
            }

            .dimensions {
                margin-bottom: 1rem;
            }

            .data {
                color: $black !important;

                strong {
                    color: $black;
                    font-size: 1.1rem;
                }
            }
        }
    }
}

@media(max-width: 1200px) {
    .container {
        .product {
            flex-direction: column;
            gap: 1rem;

            .information {

                .info,
                .dimensions {
                    flex-direction: column;
                    gap: 0rem;
                }

                .dimensions {
                    margin-bottom: 0rem;
                }

                .data {
                    color: $black !important;
                    margin-bottom: 1rem;

                    strong {
                        color: $black;
                        font-size: 1.1rem;
                    }
                }
            }
        }
    }
}