.ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    .link {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: $white;
        padding: 2rem;
        border: 2px solid $lightPrimaryColor;
        border-radius: 1rem;
        transition: all .3s ease-in-out;

        p {
            color: $black;
            margin-top: 1rem;
        }

        img {
            height: 20rem;
            max-width: 20rem;
        }

        &:hover {
            scale: 1.1;
            border: 2px solid $secondaryColor;
            box-shadow: $boxShadow $darkGrey;
        }
    }
}

@media(max-width: 1200px) {
    .ul {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 992px) {
    .ul {
        display: flex;
        flex-direction: column;
    }
}