.ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    .link {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: $white;
        padding: 2rem;
        border: 2px solid $lightPrimaryColor;
        border-radius: 1rem;
        transition: all .3s ease-in-out;
        box-shadow: 0 0 0 0 $darkGrey;

        p {
            color: $black;
            margin-top: 1rem;
        }

        img {
            height: 20rem;
            max-width: 20rem;
        }

        &:hover {
            scale: 1.1;
            border: 2px solid $secondaryColor;
            box-shadow: 5px 6px 7px 3px $darkGrey;
        }
    }
}