.background {
    background-color: $darkGrey;
    padding: 2rem 0;

    .container {
        max-width: 70vw;
        margin: 0 auto;

        .info {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            .infoLogo {
                width: 12rem;
            }

            .infoColumn {
                h4 {
                    color: $lightPrimaryColor;
                    margin-bottom: 1rem;
                }

                .icons {
                    display: flex;
                    gap: 1rem;
                }

                li {
                    transition: all .3s ease-in-out;
                    margin-bottom: .5rem;

                    &:hover {
                        scale: 1.1;
                    }

                    .infoIcon {
                        font-size: 1.5rem;
                    }

                    .infoLi,
                    .infoIcon {
                        color: $white;
                        transition: all .3s ease-in-out;

                        &:hover {
                            color: $primaryColor;
                        }
                    }

                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .background {
        .container {
            .info {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 0 2rem;

                .infoLogo,
                .infoColumn {
                    height: 100%;
                    padding-left: 1rem;
                    border-left: 1px solid $white;
                }
            }
        }
    }
}

@media(max-width: 992px) {
    .background {
        .container {
            .info {
                display: flex;
                flex-direction: column;

                .infoLogo,
                .infoColumn {
                    border: none;
                }
            }
        }
    }
}