.background {
    background-color: $darkGrey;
    padding-top: 2rem;

    .container {
        max-width: 70vw;
        margin: 0 auto;

        .info {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            .infoLogo {
                width: 12rem;

            }

            .infoColumn {
                h4 {
                    color: $lightPrimaryColor;
                }

                li {
                    transition: all .3s ease-in-out;

                    &:hover {
                        scale: 1.1;
                    }

                    .infoLi {
                        color: $white;
                        transition: all .3s ease-in-out;

                        &:hover {
                            color: $primaryColor;
                        }
                    }
                }
            }
        }
    }
}